html {
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.nav-bar {
    display: flex;
}

.nav-link {
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

#apps {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    color: #5f6368;
}

#apps:hover {
    background-color: rgba(60,64,67,0.08);
    border-radius: 50%;
}

#appsIcon {
    color: #5f6368;
    fill: currentColor;
}

#signIn {
    display: inline-block;
    color: rgb(255,255,255);
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
    background: #1a73e8;
    border: 1px solid transparent;
}

#signIn:hover {
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
    text-decoration: none;
}

.footer-box {
    display: block;
    flex-shrink: 0;
    box-sizing: border-box;
    background: #f2f2f2;
}

.upper-footer {
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.bottom-footer {
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-link {
    color: rgb(112, 117, 122);
    font-size: 14px;
    padding: 15px;
    line-height: 24px;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}