html {
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.navbar {
    flex-shrink: 0;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 6px;
}

.navbar-content {
    display: inline-block;
    flex-grow: 1;
}

.navbar-block {
    position: relative;
    height: 48px;
    min-width: auto;
}

.navbar-items {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: flex-end;
    flex: 0 0 auto;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    float: right;
    padding-left: 32px;
}

.navbar-links {
    font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 15px;
}

.navbar-link {
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    text-decoration: none;
}

.navbar-link:hover {
    text-decoration: underline;
}

.navbar-buttons {
    position: relative;
    float: right;
}

.navbar-apps-button {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
}

.apps-button {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    display: inline-block;
    padding: 8px;
    background-position: -64px -29px;
    color: #000;
    text-decoration: none;
}

.apps-button:hover {
    background-color: rgba(60,64,67,0.08);
    border-radius: 50%;
}

.apps-icon {
    color: #5f6368;
    opacity: 1;
    fill: currentColor;
}

.blue-button {
    display: inline-block;
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0px 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    background: #1a73e8;
    border: 1px solid transparent;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.blue-button:hover {
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
    text-decoration: none;
}

.footer-box {
    display: block;
    flex-shrink: 0;
    box-sizing: border-box;
    background: #f2f2f2;
}

.upper-footer {
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.bottom-footer {
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-link {
    color: rgb(112, 117, 122);
    font-size: 14px;
    padding: 15px;
    line-height: 24px;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}